*{
    box-sizing: border-box;
}
 body{
     background-image: linear-gradient(to right, red,white);
 }

 h1{
 font-size: 5rem;
 }
 p{
     font-size: 3rem;
 }
 @media ( max-width:600px) {
     h1{
         font-size: 3rem;
     }
     
 }